@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  padding-bottom: 40px;
}

header {
  position: sticky;
  top: 0;
  height: 90px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
header .logo {
  position: relative;
  height: 80px;
  left: 40px;
  top: 5px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-right: 40px;
}
header nav ul li a {
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
header nav ul li a :hover {
  color: orangered;
}

body {
  background-color: goldenrod;
}

footer {
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  gap: 40px;
}
footer ul {
  list-style: none;
}
footer ul li {
  padding-bottom: 10px;
}
footer .emphase {
  font-weight: bold;
}

.presentation {
  height: 60vh;
  background-image: url(images/Mon_seul_désir_ou_La_Dame_à_la_licorne.webp);
  background-size: cover;
  background-position: center;
}
.presentation h1 {
  position: relative;
  top: -55vh;
  font-size: 5rem;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  text-shadow: 7px 7px 7px #444;
}

.obscurite {
  position: relative;
  height: 60vh;
  background-color: rgba(30, 30, 30, 0.2);
}

.galerie-des-oeuvres {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "george benoit puit" "george livre therme" "licorne licorne jardin";
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .galerie-des-oeuvres {
    width: 500px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "george benoit" "george livre " "licorne licorne " "puit therme";
  }
}
@media screen and (max-width: 550px) {
  .galerie-des-oeuvres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .galerie-des-oeuvres .gal-licorne {
    width: 240px;
  }
}

.gal-george {
  height: 420px;
  width: 250px;
  object-fit: contain;
  grid-area: george;
}
@media screen and (max-width: 850px) {
  .gal-george {
    height: 220px;
    object-fit: cover;
  }
}

.gal-benoit {
  height: 200px;
  width: 250px;
  object-fit: cover;
  grid-area: benoit;
}
@media screen and (max-width: 850px) {
  .gal-benoit {
    height: 100px;
    object-fit: cover;
  }
}

.gal-livre {
  height: 200px;
  width: 250px;
  object-fit: cover;
  grid-area: livre;
}
@media screen and (max-width: 850px) {
  .gal-livre {
    height: 100px;
    object-fit: cover;
  }
}

.gal-licorne {
  height: 400px;
  width: 520px;
  object-fit: contain;
  grid-area: licorne;
}
@media screen and (max-width: 850px) {
  .gal-licorne {
    height: 220px;
    object-fit: cover;
  }
}

.gal-jardin {
  height: 400px;
  width: 250px;
  object-fit: cover;
  grid-area: jardin;
}
@media screen and (max-width: 850px) {
  .gal-jardin {
    display: none;
  }
}

.gal-puit {
  height: 200px;
  width: 250px;
  object-fit: cover;
  grid-area: puit;
}

.gal-thermes {
  height: 200px;
  width: 250px;
  object-fit: cover;
  grid-area: therme;
}

.histoire-batiment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  gap: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
}
.histoire-batiment h2 {
  padding-bottom: 20px;
}

.batiment-img {
  height: 500px;
}

.batiment-texte {
  margin-top: auto;
  margin-bottom: auto;
}

.histoire-thermes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  gap: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 100px;
}
.histoire-thermes h2 {
  padding-bottom: 20px;
}

.thermes-texte {
  margin-top: auto;
  margin-bottom: auto;
}

.introduction {
  padding-top: 100px;
}

/*# sourceMappingURL=build.css.map */
