*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
    max-width: 100%;
    max-height: 100%;
}
h1{
    text-align: center;
    color: white;
    font-size: 3rem;
    padding-bottom: 40px;
}
header{
    position: sticky;
    top:0;
    height: 90px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    .logo{
        position: relative;
        height: 80px;
        left: 40px;
        top:5px;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding-right: 40px;
            li a{
                padding-left: 20px;
                text-decoration: none;
                color: black;
                font-size: 2rem;
                :hover{
                    color: orangered;
                }
            }
        }
    }
}
body{
    background-color: goldenrod;
}
footer{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 40px;
    ul{
        list-style: none;
        li{
            padding-bottom: 10px;
        }
    }
    .emphase{
        font-weight: bold;
    }

}

.presentation{
    height: 60vh;
    background-image: url(images/Mon_seul_désir_ou_La_Dame_à_la_licorne.jpg);
    background-size: cover;
    background-position: center;
    h1{
        position:relative;
        top: -55vh;
        font-size: 5rem;
        font-family: Verdana, 'Geneva', Tahoma, sans-serif;
        text-shadow: 7px 7px 7px #444;
    }
}
.obscurite{
    position: relative;
    height: 60vh;
    background-color: rgba(30, 30, 30 ,0.2);
}
.galerie-des-oeuvres{
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "george benoit"
                         "george livre "
                         "licorne licorne";
    gap: 40px;
}
.gal-george{
    //height: 500px;
    grid-area: george;
}
.gal-benoit{
    //height: 240px;
    grid-area: benoit;
}
.gal-livre{
    //height: 240px;
    grid-area: livre;
}
.gal-licorne{
    grid-area: licorne;
}

.histoire-batiment{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap:40px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px;
    h2{
        padding-bottom: 20px;
    }

}

.batiment-img{
    height: 500px;
}
.batiment-texte{
    margin-top: auto;
    margin-bottom: auto;

}

.histoire-thermes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    gap:40px;
    margin-right: auto;
    margin-left: auto;
    h2{
        padding-bottom: 20px;
    }
    padding-bottom: 100px;
}

.thermes-texte{
    margin-top: auto;
    margin-bottom: auto;
}
.introduction{
    padding-top: 100px;
}